$fontSize: 14px;

.rt-lightbox {
    &, & * {
        font-family: Arial, Helvetica, sans-serif;
    }
  &__spinner,
  &__spinner:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
  &__spinner {
    margin: 0;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid rgba(white, 0.2);
    border-right: 0.5em solid rgba(white, 0.2);
    border-bottom: 0.5em solid rgba(white, 0.2);
    border-left: 0.5em solid white;
    transform: translateZ(0);
    animation: loop 1.1s infinite linear;
  }
  @keyframes loop {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(#000, 0.9);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  &--swiping > * {
      opacity: 0.5 !important;
  }
  &__spinner {
    border-top-color: rgba(#fff, 0.2) !important;
    border-right-color: rgba(#fff, 0.2) !important;
    border-bottom-color: rgba(#fff, 0.2) !important;
    border-left-color: #fff !important;
    position: absolute !important;
    z-index: -1;
    left: 50%;
    top: 50%;
    margin-left: -2em;
    margin-top: -2em;
    &,
    &:after {
      width: 4em !important;
      height: 4em !important;
    }
  }
  &__thumbnails {
    opacity: 0;
    background:#fff;
    max-width: calc(100% - 8px);
    z-index: 13;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    align-self: center;
    justify-self: center;
    bottom: 0;
    margin-bottom: -100px;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
    display:flex;
    flex-direction: row;
    border: 4px solid #fff;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
  }
    // & > img {
    //   box-shadow: 0px 0px 20px #00000027;
    //   height: 60px !important;
    //   margin: 0;
    //   padding: 0;
    // }
    &--visible {
      transition: all 200ms linear;
      opacity: 1;
      margin-bottom: 0;
    }
  }
  &__thumbnail {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0px 0px 20px #00000027;
    height: 60px !important;
    margin: 0;
    padding: 0;
    &--active {
      opacity: 1;
    }
  }
  &__closer {
    // box-shadow: 0px 0px 20px #00000027;
    opacity: 0;
    max-width: 80%;
    color: #fff;
    display: flex;
    z-index: 9;
    position: relative;
    cursor: pointer;
    padding: 8px 16px;
    // border-radius: 14px;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: $fontSize;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    margin-top: -100px;
    &--visible {
      transition: all 200ms linear;
      opacity: 1;
      margin-top: 0px;
    }
  }
  &__title {
    // box-shadow: 0px 0px 20px #00000027;
    opacity: 0;
    max-width: 80%;
    color: #fff;
    // border-radius: 14px;
    display: flex;
    z-index: 9;
    position: relative;
    padding: 8px 16px;
    font-size: $fontSize;
    text-align: center;
    strong{
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }
    // color: #000;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    margin-bottom: -100px;
    &--visible {
      transition: all 200ms linear;
      opacity: 1;
      margin-bottom: 0px;
    }
  }
  &__image-error {
    display: flex;
    box-shadow: 0px 0px 20px #00000027;
    background: #fff;
    padding: 20px;
    width: 80%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: #000;
    flex-direction: column;
    font-style: italic;
    transition: all 200ms linear;
    &--swiping-left {
      transform: translateX(-100px);
    }
    &--swiping-right {
      transform: translateX(100px);
    }
  }
  &__image {
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px #00000027;
    opacity: 0;
    max-width: 80%;
    max-height: 70%;
    min-width: 200px;
    margin-top: -100px;
    &--visible {
      transition: all 200ms linear;
      border: 4px solid #fff;
      opacity: 1;
      margin-top: 0;
    }
    &--swiping-left {
      transform: translateX(-100px);
    }
    &--swiping-right {
      transform: translateX(100px);
    }
  }
  &__prev, &__next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      height: 50px;
      line-height: 50px;
      width: 30px;
      border-radius: 14px;
      text-align:center;
      // background: rgba(white, 0.8);
      font-size: $fontSize * 2;
      color: #fff;
      z-index: 9;
      opacity: 0;
      &--visible {
        transition: all 1200ms linear;
        opacity: 1;
      }
  }
  &__prev {
      left: 0
  }
  &__next {
      right: 0
  }
}
